html {
  font-size: 100%;
}
body {
  font-size: 1rem;
  font-size: clamp(100%, 0.5rem + 1vw, 1.5rem);
  margin: 0;
  padding: 0;
}
:root {
  /* light mode */

  --light-switch-shadow: rgba(68, 78, 85, 1);
  --light-switch-icon: "🌚";
  --light-switch-text: "switch to dark mode";
  --light-text: rgba(48, 48, 52, 1);
  --light-bg: rgba(239, 239, 239, 1);
  --light-theme: rgba(48, 48, 201, 1);
  --light-code-bg: rgba(48, 48, 52, 1);
  --light-code-text: rgba(239, 239, 239, 1);

  /* dark mode */
  --dark-switch-shadow: rgba(252, 228, 119, 1);
  --dark-switch-icon: "🌞";
  --dark-switch-text: "switch to light mode";
  --dark-text: rgba(239, 239, 239, 1);
  --dark-bg: rgba(48, 48, 52, 1);
  --dark-theme: rgba(129, 102, 143, 1);
  --dark-code-bg: rgba(239, 239, 239, 1);
  --dark-code-text: rgba(48, 48, 52, 1);

  /* default mode */
  --switch-shadow-color: var(--light-switch-shadow);
  --switch-icon: var(--light-switch-icon);
  --switch-text: var(--light-switch-text);
  --text-color: var(--light-text);
  --bg-color: var(--light-bg);
  --theme-color: var(--light-theme);
  --code-bg: var(--light-code-bg);
  --code-text: var(--light-code-text);
}
/* switched mode */
.theme-switch:checked ~ .content {
  --switch-shadow-color: var(--dark-switch-shadow);
  --switch-icon: var(--dark-switch-icon);
  --switch-text: var(--dark-switch-text);
  --text-color: var(--dark-text);
  --bg-color: var(--dark-bg);
  --theme-color: var(--dark-theme);
  --code-bg: var(--dark-code-bg);
  --code-text: var(--dark-code-text);
}
.theme-switch {
  position: absolute;
  height: 1px;
  width: 1px;
  top: 0;
  left: 0;
  opacity: 0;
}
.switch-label {
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  padding: 2%;
  grid-area: theme;
}
.switch-label::before {
  align-self: center;
  content: var(--switch-text);
  color: var(--switch-shadow-color);
  font-size: 0.875em;
  opacity: 0;
  padding-left: 1%;
}
.switch-label::after {
  content: var(--switch-icon);
  font-size: 2.5em;
  transition: text-shadow 0.2s;
}
.theme-switch:focus ~ .content .switch-label::before,
.switch-label:hover::before {
  opacity: 1;
}
.theme-switch:focus ~ .content .switch-label::after,
.switch-label:hover::after {
  text-shadow: 0 0 15px var(--switch-shadow-color);
}
.content {
  color: var(--text-color);
  background-color: var(--bg-color);
  transition: background-color 0.2s, color 0.2s;
  display: grid;
  grid-template-rows: 5em calc(100vh - 5em);
  grid-template-columns: 1fr 75vw;
  grid-template-areas:
    "nav theme"
    "nav main";
}
.navbar {
  grid-area: nav;
}
pre {
  overflow-x: auto;
  background-color: var(--code-bg);
  color: var(--code-text);
  transition: background-color 0.2s, color 0.2s;
  margin: 0 auto;
}
code {
  background-color: var(--code-bg);
  color: var(--code-text);
}
.scroll {
  grid-area: main;
  overflow: auto;
}
.main {
  height: 1000px;
}
